header{
    background-color: #00BCD4;
    text-align: center;
    color: white;
    padding-top: 10px;

    h1{
    font-size: 2em;
    }

    button{
    width: 50%;
    background-color: #00BCD4;
    outline: none;
    border: none;
    border-bottom: 3px solid #00BCD4;
    color:white;
    font-size: 1.4em;

        &:active{
        border-bottom: 3px solid #FFFF33;
    }
    }
}