.officesDiv{
    padding: 15px;
}

.officesDivGrid{
	margin: 15px;
	padding: 1px;
    background-color: #00BCD4;
}

@media only screen and (min-width: 600px){

    .officesDivGrid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .officeGridItem{
            width: 45%;
        }
    }
}

@media only screen and (min-width: 1200px){

    .officesDivGrid{
        display: flex;
        justify-content: space-around;
        
        .officeGridItem{
            width: 22%;
        }
    }
}